<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.admin.AdminBoardDaoImp">
	<select id="countHomeBoardToday" resultType="int">
		select count(*) from homeboard where to_char(writedate, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
	</select>
	<select id="countQAToday" resultType="int">
		select count(*) from qaboard where to_char(writedate, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
	</select>
	<select id="countReviewToday" resultType="int">
		select count(*) from review where to_char(writedate, 'YYYY-MM-DD')= to_char(sysdate, 'YYYY-MM-DD')
	</select>
	<!-- 모든 homeboard 글 가져오기 -->
	<select id="selectAllHomeBoard" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
		select b_no, title, theme, userid, hit, scrap, to_char(writedate, 'YYYY-MM-DD') writedate from homeboard
	</select>
	
	<!-- Homeboard에서 글 검색(userid) -->
	<select id="homeBoardSearchUserid" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
		select b_no, title, theme, userid, hit, scrap, to_char(writedate, 'YYYY-MM-DD') writedate from homeboard where userid = #{param1}
	</select>
	
	<!-- Homeboard에서 글 검색(글제목) -->
	<select id="homeBoardSearchTitle" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
		select b_no, title, theme, userid, hit, scrap, to_char(writedate, 'YYYY-MM-DD') writedate from homeboard 
		where title LIKE '%'||#{title}||'%' 
	</select>
	
	<!-- Homeboard에서 글 검색(글내용) -->
	<select id="homeBoardSearchContent" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
		select b_no, title, theme, userid, hit, scrap, to_char(writedate, 'YYYY-MM-DD') writedate from homeboard 
		where content LIKE '%'||#{content}||'%' 
	</select>
	
	<!-- 글내용보기 -->
  	<select id="adminHomeboardSelect" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
  		select b_no, userid, title, content, theme, hashtag, hit, scrap, to_char(writedate, 'YYYY-MM-DD HH24:MI') writedate
  		from homeboard where b_no=#{param1}
  	</select>
</mapper>