<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allhomes.myapp.admin.AdminOrderDaoImp">
	<!-- 모든 주문 목록 -->
	<select id="allPurchase" resultType="com.allhomes.myapp.admin.AdminOrderVO">
		select purchase.pc_no, purchase.pd_no, product.pd_name, store.s_name, address.zipcode,
		address.addr, address.addrdetail, purchase.userid, to_char(purchase.pc_date, 'YYYY-MM-DD') pc_date, purchase.status,
		purchase.num, purchase.total_p, purchase.o_value
		from purchase, product, store,address
		where purchase.s_no = store.s_no and purchase.pd_no = product.pd_no and address.a_code = purchase.a_code
		order by pc_date desc
	</select>
	
	<!-- 오늘 주문 -->
	<select id="purchaseToday" resultType="com.allhomes.myapp.admin.AdminOrderVO">
		select purchase.pc_no, purchase.pd_no, product.pd_name, store.s_name, address.zipcode,
		address.addr, address.addrdetail, purchase.userid, to_char(purchase.pc_date, 'YYYY-MM-DD'), purchase.status,
		purchase.num, purchase.total_p,purchase.o_value
		from purchase, product, store,address
		where purchase.s_no = store.s_no and purchase.pd_no = product.pd_no and address.a_code = purchase.a_code
		and to_date(pc_date, 'YY/MM/DD') = to_date(sysdate, 'YY/MM/DD')
		order by pc_date desc
	</select>  
	
	<!-- 한달 주문 -->
	<select id="purchaseMonth" resultType="com.allhomes.myapp.admin.AdminOrderVO">
		select purchase.pc_no, purchase.pd_no, product.pd_name, store.s_name, address.zipcode,
		address.addr, address.addrdetail, purchase.userid, to_char(purchase.pc_date, 'YYYY-MM-DD'), purchase.status,
		purchase.num, purchase.total_p,purchase.o_value
		from purchase, product, store,address
		where purchase.s_no = store.s_no and purchase.pd_no = product.pd_no and address.a_code = purchase.a_code
		and to_date(pc_date, 'YY/MM/DD') between to_date(add_months(sysdate,-1),'YY/MM/DD') and to_date(sysdate, 'YY/MM/DD')
		order by pc_date desc
	</select>
	
	<!-- 세달 주문 -->
	<select id="purchaseThreeMonth" resultType="com.allhomes.myapp.admin.AdminOrderVO">
		select purchase.pc_no, purchase.pd_no, product.pd_name, store.s_name, address.zipcode,
		address.addr, address.addrdetail, purchase.userid, to_char(purchase.pc_date, 'YYYY-MM-DD'), purchase.status,
		purchase.num, purchase.total_p,purchase.o_value
		from purchase, product, store,address
		where purchase.s_no = store.s_no and purchase.pd_no = product.pd_no and address.a_code = purchase.a_code
		and to_date(pc_date, 'YY/MM/DD') between to_date(add_months(sysdate,-3),'YY/MM/DD') and to_date(sysdate, 'YY/MM/DD')
		order by pc_date desc
	</select>
	
</mapper>