<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.admin.AdminSearchDaoImp">
	<!-- 회원 관련 결과 -->
	<select id="adminIntegSearchMember" resultType="com.allhomes.myapp.register.RegisterVO">
		select m_no, userid, username, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate from register
		 where userid LIKE '%'||#{param1}||'%' or username LIKE '%'||#{param1}||'%' or
		 nickname LIKE '%'||#{param1}||'%' or tel LIKE '%'||#{param1}||'%' or email LIKE '%'||#{param1}||'%'
	</select>
	<!-- 회원결과 개수  -->
	<select id="adminIntegSearchMemberCount" resultType="int">
		select count(*) from register
		 where userid LIKE '%'||#{param1}||'%' or username LIKE '%'||#{param1}||'%' or
		 nickname LIKE '%'||#{param1}||'%' or tel LIKE '%'||#{param1}||'%' or email LIKE '%'||#{param1}||'%'
	</select>
	
	<!-- homeboard 결과 -->
	<select id="adminIntegSearchHB" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
		select b_no, title, theme, userid, thumbnail, hit, scrap, to_char(writedate, 'YYYY-MM-DD') writedate from homeboard
		where userid LIKE '%'||#{param1}||'%' or title LIKE '%'||#{param1}||'%' or theme LIKE '%'||#{param1}||'%' or content LIKE '%'||#{key}||'%'
	</select>
	<!-- homeboard 결과 개수 -->
	<select id="adminIntegSearchHBCount" resultType="int">
		select count(*) from homeboard
		where userid LIKE '%'||#{param1}||'%' or title LIKE '%'||#{param1}||'%' or theme LIKE '%'||#{param1}||'%' or content LIKE '%'||#{key}||'%'
	</select>
	
	<!-- store 결과 -->
	<select id="adminIntegSearchStore" resultType="com.allhomes.myapp.store.StoreVO">
		select s_no,s_num,s_name,s_pic,to_char(openingdate, 'YYYY-MM-DD') openingdate,s_id,staff_n,staff_t,staff_e,s_homepage from store
		where s_name LIKE '%'||#{param1}||'%' or s_id LIKE '%'||#{param1}||'%' or staff_n LIKE '%'||#{param1}||'%' or staff_t LIKE '%'||#{param1}||'%'
		 or staff_e LIKE '%'||#{param1}||'%' or s_homepage LIKE '%'||#{param1}||'%'
	</select>
	<!-- store 결과 개수 -->
	<select id="adminIntegSearchStoreCount" resultType="int">
		select count(*) from store
		where s_name LIKE '%'||#{param1}||'%' or s_id LIKE '%'||#{param1}||'%' or staff_n LIKE '%'||#{param1}||'%' or staff_t LIKE '%'||#{param1}||'%'
		 or staff_e LIKE '%'||#{param1}||'%' or s_homepage LIKE '%'||#{param1}||'%'
	</select>
	
	<!-- product 결과 -->
	<select id="adminIntegSearchProduct" resultType="com.allhomes.myapp.search.ProductStoreJoinVO">
		select product.pd_no, product.s_no, product.pd_name, product.price, product.discount, product.main_img, product.stock, product.status, product.sub_c, product.pd_img, product.pd_exp, product.shipping_c
		, store.s_name from product, store
		where product.pd_name LIKE '%'||#{param1}||'%' or product.status LIKE '%'||#{param1}||'%' or
		product.sub_c LIKE '%'||#{param1}||'%' or product.pd_exp LIKE '%'||#{param1}||'%' or store.s_name LIKE '%'||#{param1}||'%' 
	</select>
	
	<!-- product 결과 개수-->
	<select id="adminIntegSearchProductCount" resultType="int">
		select count(*) from product,store
		where product.pd_name LIKE '%'||#{param1}||'%' or product.status LIKE '%'||#{param1}||'%' or
		product.sub_c LIKE '%'||#{param1}||'%' or product.pd_exp LIKE '%'||#{param1}||'%' or store.s_name LIKE '%'||#{param1}||'%' 
	</select>
</mapper>