<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.admin.AdminHomeDaoImp">
	<select id="countAllMember" resultType="int">
		select count(*) from register
	</select>
	<select id="countAllStore" resultType="int">
		select count(*) from store
	</select>
	<select id="sumAllSale" resultType="int">
		select sum(price) from purchase
	</select>
	<select id="countAllHomeboard" resultType="int">
		select count(*) from homeboard
	</select>
	<select id="countAllQna" resultType="int">
		select count(*) from qnaboard
	</select>
	<select id="countAllReview" resultType="int">
		select count(*) from review
	</select>
</mapper>