<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.find.FindDaoImp">	<!-- 테이블명 변경! -->
 	<select id="findIdPwd" resultType="com.allhomes.myapp.find.FindVO">
 		select username, email, userid from register where username=#{username} and email=#{email}
 	</select>

 	<select id="findPwd" resultType="com.allhomes.myapp.find.FindVO">	<!-- 테이블명 변경! -->
 		select username, email, userid from register where username=#{username} and email=#{email} and userid=#{userid}
 	</select>
 	
 	<update id="changeInstert" parameterType="com.allhomes.myapp.find.FindVO">	<!-- 테이블명 변경! -->
 		update register set userpwd=#{userpwd} where username=#{username} and userid=#{userid}
 	</update>
 	
 	
</mapper>