<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ==========집들이 글 MAPPER============ -->
<mapper namespace="com.allhomes.myapp.homeboard.HomeboardDaoImp">

  	<!-- 집들이 전체리스트 -->
 	<select id="homeboardAllList"  resultType="com.allhomes.myapp.homeboard.HomeboardVO">
 		select a.b_no, a.thumbnail, a.title, c.m_pic, a.userid, b.hb_theme_no, a.hit, a.scrap, to_char(a.writedate, 'YYYY-MM-DD') writedate  
    	from homeboard a 
		join hb_theme b 
   		on a.theme = b.theme 
		join register c
    	on a.userid = c.userid
		order by b_no desc
 	</select>
  	  	
  	<!-- 집들이 글작성하기 -->
  	<insert id="homeboardInsert" parameterType="com.allhomes.myapp.homeboard.HomeboardVO">
  	  	insert into homeboard
  	  	(b_no, title, thumbnail, content, theme, hashtag, userid, nickname,  hit, scrap, writedate, ip) values
  	  	(homeboard_sq.nextval, #{title}, #{thumbnail}, #{content}, #{theme}, #{hashtag}, #{userid}, #{nickname}, 0, 0, sysdate, #{ip})
  	</insert>

  	<!-- 집들이 글내용보기 -->
  	<select id="homeboardSelect" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
  		select a.b_no, a.userid, c.m_pic, a.title, a.content, a.nickname, a.theme, b.hb_theme_no, a.hashtag, a.hit, a.scrap, to_char(a.writedate, 'YYYY-MM-DD') writedate 
  		from homeboard a 
		join hb_theme b 
		on a.theme=b.theme 
		join register c
		on a.userid = c.userid
		where b_no=#{param1}
  	</select>
  	
  	<!-- 집들이 볼때마다 조회수 증가 -->
  	<update id="homeboardHit" parameterType="int">
  		update homeboard set hit=hit+1 where b_no=#{param1}
  	</update>
  	
  	<!-- 집들이 수정 내용보기 -->
  	<select id="homeboardEditSelect" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
  		select b_no, title, content, hashtag, theme, userid from homeboard where b_no=#{param1}
  	</select>
  	
  	
  	<!-- 집들이 글번호꺼내기 -->
     <select id="getHomeboardNumber" resultType="int">
        select nvl(max(b_no), 1) from homeboard
     </select>
     
     <!-- 집들이 글쓴이 꺼내기 -->
     <select id="getHomeboardWriter" resultType="String">
     	select userid from homeboard where b_no=#{param1}
     </select>
     
     <!-- 집들이 선택한 테마 찾기 -->
     <select id="getOriginalTheme" resultType="int">
     	select b.hb_theme_no, a.theme from homeboard a join hb_theme b on a.theme = b.theme where b_no=#{param1}
     </select>
     
    <!-- 집들이 글 수정하기 --> 
    <update id="homeboardEdit" parameterType="com.allhomes.myapp.homeboard.HomeboardVO">
    	update homeboard set theme=#{theme}, title=#{title}, content=#{content}, thumbnail=#{thumbnail}, hashtag=#{hashtag} where b_no=#{b_no}
    </update>
    
    <!-- 집들이 글 삭제하기 -->
    <delete id="homeboardDelete" parameterType="int">
    	delete from homeboard where b_no=#{param1}
    </delete>
     
    <!-- 집들이 테마별로 리스트 -->
    <select id="homeboardThemeList" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
    	select a.b_no, a.thumbnail, a.title, a.userid, b.hb_theme_no, a.hit, a.scrap, to_char(a.writedate, 'YYYY-MM-DD HH24:MI') writedate, c.m_pic
    	from homeboard a 
    	join hb_theme b 
    	on a.theme = b.theme
    	join register c
    	on a.userid = c.userid
    		<if test="hb_theme_no==0">
    		order by a.b_no desc
    		</if>
    		<if test="hb_theme_no >= 1">
    		where hb_theme_no=#{hb_theme_no} order by a.b_no desc
    		</if>
    </select>
    
    <!-- 집들이 베스트 리스트  -->
    <select id="homeboardBestList" parameterType="String" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
    	select a.b_no, a.thumbnail, a.title, a.userid, a.hit, a.scrap, to_char(a.writedate, 'YYYY-MM-DD') writedate, b.m_pic 
    	from homeboard a 
    	join register b
    	on a.userid= b.userid
   		<choose>
   			<when test="order!=null and order.equals('recentBest')">
   				where a.b_no in (select b_no from (select b_no from homeboard order by b_no desc) where rownum  <![CDATA[<]]>  13 ) order by a.hit desc
   			</when>
   			<when test="order!=null and order.equals('best')">
   				order by a.hit desc
   			</when>
   			<when test="order!=null and order.equals('recent')">
   				order by a.b_no desc
   			</when>
   			<when test="order!=null and order.equals('scrap')">
   				order by a.scrap desc
   			</when>
   		</choose>
   
    </select>
    
    <!-- 메인페이지용 집들이 최근인기글 8개 -->
    <select id="homeboardListForMain" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
    	select a.b_no, a.thumbnail, a.title, a.userid, a.hit, a.scrap, to_char(a.writedate, 'YYYY-MM-DD') writedate, b.m_pic
    	from homeboard a
    	join register b
    	on a.userid=b.userid
    	where a.b_no 
    	in (select b_no from (select b_no from homeboard order by hit desc) where rownum  <![CDATA[<]]>  9 ) 
    	order by a.b_no asc
    </select>

</mapper>