<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.homeboard.HomeboardDaoImp">
  	<!-- 집들이 전체리스트 -->
 	<select id="homeboardAllList"  resultType="com.allhomes.myapp.homeboard.HomeboardVO">
 		select a.b_no, a.thumbnail, a.title, a.userid, b.hb_theme_no, a.hit, a.scrap, a.writedate from homeboard a join hb_theme b on a.theme = b.theme order by b_no desc
 	</select>
  	
  	<!-- 집들이 글작성하기 -->
  	<insert id="homeboardInsert" parameterType="com.allhomes.myapp.homeboard.HomeboardVO">
  	  	insert into homeboard
  	  	(b_no, title, thumbnail, content, theme, hashtag, userid, nickname,  hit, scrap, writedate, ip) values
  	  	(homeboard_sq.nextval, #{title}, #{thumbnail}, #{content}, #{theme}, #{hashtag}, #{userid}, #{nickname}, 0, 0, sysdate, #{ip})
  	</insert>
  	

  	<!-- 집들이 글내용보기 -->
  	<select id="homeboardSelect" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
  		select b_no, userid, title, content, nickname, theme, hashtag, hit, scrap, to_char(writedate, 'YYYY-MM-DD HH24:MI') writedate
  		from homeboard where b_no=#{param1}
  	</select>
  	
  	<!-- 집들이 수정 내용보기 -->
  	<select id="homeboardEditSelect" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
  		select b_no, title, content, hashtag, theme, userid from homeboard where b_no=#{param1}
  	</select>
  	
  	<!-- 집들이 글번호꺼내기 -->
     <select id="getHomeboardNumber" resultType="int">
        select nvl(max(b_no), 1) from homeboard
     </select>
     
     
    <!-- 집들이 글 수정하기 --> 
    <update id="homeboardEdit" parameterType="com.allhomes.myapp.homeboard.HomeboardVO">
    	update homeboard set theme=#{theme}, title=#{title}, content=#{content}, thumbnail=#{thumbnail}, hashtag=#{hashtag} where b_no=#{b_no}
    </update>
    
    <!-- 집들이 글 삭제하기 -->
    <delete id="homeboardDelete" parameterType="int">
    	delete from homeboard where b_no=#{param1}
    </delete>
    
     
    <!-- 집들이 테마별로 리스트 -->
    <select id="homeboardThemeList" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
    	select a.b_no, a.thumbnail, a.title, a.userid, b.hb_theme_no, a.hit, a.scrap from homeboard a join hb_theme b on a.theme = b.theme
    	
    		<if test="hb_theme_no==0">
    		order by a.b_no desc
    		</if>
    		<if test="hb_theme_no >= 1">
    		where hb_theme_no=#{hb_theme_no} order by a.b_no desc
    		</if>
    </select>
    
    
    <!-- 집들이 베스트 리스트  -->
    <select id="homeboardBestList" parameterType="String" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
    	select b_no, thumbnail, title, userid, hit, scrap, to_char(writedate, 'YY-MM-DD') writedate from homeboard 
   		<choose>
   			<when test="order!=null and order.equals('recentBest')">
   				where b_no in (select b_no from (select b_no from homeboard order by b_no desc) where rownum  <![CDATA[<]]>  5 ) order by hit desc
   			</when>
   			<when test="order!=null and order.equals('best')">
   				order by hit desc
   			</when>
   			<when test="order!=null and order.equals('recent')">
   				order by b_no desc
   			</when>
   			<when test="order!=null and order.equals('scrap')">
   				order by scrap desc
   			</when>
   		</choose>
   
    </select>
    
    <!-- 메인페이지용 집들이 최근인기글 8개 -->
    <select id="homeboardListForMain" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
    	select b_no, thumbnail, title, userid, hit, scrap from homeboard where b_no in (select b_no from (select b_no from homeboard order by b_no desc) where rownum  <![CDATA[<]]>  9 ) order by hit desc
    </select>

</mapper>