<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 집들이 코멘트 Mapper -->
<mapper namespace="com.allhomes.myapp.homeboard.HomeboardCommentDaoImp">
	<!-- 댓글리스트 불러오기 -->
	<select id="commentAllSelect" parameterType="int" resultType="com.allhomes.myapp.homeboard.HomeboardCommentVO">
		select a.hb_c_no, a.userid, b.m_pic, a.b_no, a.hb_comment, to_char(a.writedate, 'YYYY-MM-DD HH24:MI') writedate
		from hb_comment a
		join register b
		on a.userid=b.userid
		where b_no=#{param1} 
		order by a.hb_c_no asc
	</select>
	
	
	<!-- 댓글쓰기 -->
	<insert id="commentInsert" parameterType="com.allhomes.myapp.homeboard.HomeboardCommentVO">
		insert into hb_comment(hb_c_no, userid, hb_comment, b_no) 
		values(hb_comment_sq.nextval, #{userid}, #{hb_comment}, #{b_no})
	</insert>
	
	
	<!-- 댓글 수정하기 -->
	
	<!-- 댓글 삭제하기 -->
	<delete id="commentDelete" parameterType="int">
		delete from hb_comment where hb_c_no=#{param1}
	</delete>
	
</mapper>