<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.mypage.MypageUpdateDaoImp">
 	
 	
 	<!-- 최초 접속자의 주소관련 데이터 유무 판별 -->
 	<select id="addrSelect" resultType="com.allhomes.myapp.mypage.MypageUpdateVO">
 		select receiver,zipcode, addr, addrdetail, tel from address where m_no=#{m_no}
	</select>
 	 	
 	<select id="userEdit" resultType="String">	<!-- 2차 기본정보 -->
 		select email, nickname,m_pic, tel from register where userid=#{userid}
 	</select>
 	
 	<select id="addrEdit" resultType="String"><!-- 3차 주소지정보 1차 판별번호가지고 추출-->
 		select receiver, zipcode, addr,addrdetail,tel from address where m_no = #{m_no}
 	</select>	
  	
</mapper> 

