<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.order.OrderDaoImp">
 
 	<select id="selectOrderCart" resultType="com.allhomes.myapp.order.OrderVO">
 		select p.main_img,c.c_no,c.pd_no, p.pd_name, s.s_no, s.s_name, c.num,c.price, c.shipping_c, c.discount, c.userid, c.o_value
		from cart c, product p , store s
		where c.pd_no = p.pd_no and p.s_no = s.s_no and c.c_no= #{c_no}
	</select>
 	 	
 	
</mapper> 

