<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allhomes.myapp.product.ProductDaoImp">
  	<!-- 모든 제품 조회 -->
  	<select id="productAllList" parameterType="com.allhomes.myapp.product.PagingVO" resultType="com.allhomes.myapp.product.ProductVO">
  	    <![CDATA[select * from (select * from (select pd_no, s_no, pd_name, price, discount, main_img, stock, status, sub_c, pd_img from product order by pd_no desc) 
  	    where rownum <= #{nowPage} * #{onePageRecord} order by pd_no asc) where rownum >= #{lastPageRecordCount} order by pd_no desc]]>
  	</select>
  	<!-- 제품 리뷰 조회 -->
  	<select id="productReviewList" parameterType="int" resultType="com.allhomes.myapp.review.ReviewVO">
  		select userid, pd_no, rating, content, writedate, s_no from review where pd_no=#{pd_no}
  	</select>
  	<!-- 메인페이지 제품리스트 -->
  	<select id="productMainList" resultType="com.allhomes.myapp.product.ProductVO">
  		select pd_no, s_no, pd_name, price, discount, main_img, stock, status, sub_c, pd_img, shipping_c from product order by pd_no desc
  	</select>
  	<!-- 등록된 상품 수 조회 -->
  	<select id="getAllProductCount" parameterType="com.allhomes.myapp.product.PagingVO" resultType="int">
  		select count(pd_no) from product
	</select>
  	
  	<!-- 스토어번호로 제품 검색 -->
  	<select id="selectStoreProduct" resultType="com.allhomes.myapp.product.ProductVO">
  		select pd_no, s_no, pd_name, price, discount, main_img, stock, status, sub_c,pd_img, pd_exp from product where s_no=#{s_no}
  	</select>
  	
  	<!-- 제품 번호로 검색 -->
  	<select id="selectProduct" parameterType="int" resultType="com.allhomes.myapp.product.ProductVO">
  		select pd_no, s_no, pd_name, price, discount, main_img, stock, status, sub_c, pd_img, pd_exp, shipping_c from product where pd_no=#{pd_no}
  	</select>
  	
  	<!-- 제품 추가 -->
  	<insert id="insertProduct" parameterType="com.allhomes.myapp.product.ProductVO">
  		insert into product(pd_no, s_no, pd_name, price, discount, main_img, stock, status, sub_c, pd_img, pd_exp, shipping_c)
  		 values(pd_sq.nextval, #{s_no}, #{pd_name}, #{price}, #{discount}, #{main_img}, #{stock}, #{status}, #{sub_c}, #{pd_img}, #{pd_exp}, #{shipping_c})
  	</insert>
  	
  	<!-- 제품 수정 테스트-->
  	<update id="editProduct" parameterType="com.allhomes.myapp.product.ProductVO">
  		update product set pd_name=#{pd_name}, price=#{price}, discount=#{discount},
  		 stock=#{stock}, status=#{status}, sub_c=#{sub_c}, pd_exp=#{pd_exp}, shippig_c=#{shipping_c} where pd_no=#{pd_no}
  	</update>
  	
  	<!--제품수정
  	<update id="editProduct" parameterType="com.allhomes.myapp.product.ProductVO">
  		update product set  pd_name=#{pd_name}, price=#{price}, discount=#{discount},
  		main_img=#{main_img}, stock=#{stock}, status=#{status}, sub_c=#{sub_c},pd_img=#{pd_img} where pd_no=#{pd_no}
  	</update> -->
  	
  	<!-- 제품 삭제 -->
  	<delete id="delProduct" parameterType="int">
  		delete from product where pd_no=#{pd_no}
  	</delete>
  	
  	<!-- 스토어의 총 제품 개수 검색 -->
  	<select id="countProduct" resultType="int">
  		select count(*) from product where s_no=#{s_no}
  	</select>
  	
  	<!-- option-제품번호 가지고 오기(가장 최근 insert된 거) -->
  	<select id="selectOptionProductNo" parameterType="int" resultType="com.allhomes.myapp.product.ProductVO">
  		SELECT pd_no FROM(SELECT  *  FROM product ORDER BY ROWNUM DESC) WHERE ROWNUM = 1
  	</select>
  	<!-- prodcut + option -->
  	<select id="joinProductOption" resultType="com.allhomes.myapp.product.ProductVO">
  		select p.pd_no, p.s_no, p.pd_name, p.price, p.discount, p.main_img, p.stock, p.status, p.sub_c, p.pd_img, p.pd_exp, p.shipping_c, o.o_no, o.o_value from product p, option_table o where p.pd_no=o.pd_no
  	</select>
  </mapper>