<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allhomes.myapp.purchase.PurchaseDaoImp">
	<select id="allPurchaseList" resultType="com.allhomes.myapp.purchase.PurchaseVO">
		select pc_no, pd_no, s_no, userid, num, price, shipping_c, total_p, a_code, pc_date, payment, status, confirm, memo, o_no from purchase order by pc_date desc
	</select>
	<select id="selectOnePurchaseList" parameterType="String" resultType="com.allhomes.myapp.purchase.PurchaseVO">
		select pc_no, pd_no, s_no, userid, num, price, shipping_c, total_p, a_code, pc_date, payment, status, confirm, memo, o_no from purchase where userid=#{userid}
	</select>  
	<select id="selectPurchaseListPdno" resultType="com.allhomes.myapp.purchase.PurchaseVO">
		select pc_no, pd_no, s_no, userid, num, price, shipping_c, total_p, a_code, pc_date, payment, status, confirm, memo, o_no from purchase where pd_no=#{pd_no}
	</select>
	<insert id="insertPurchaseList" parameterType="com.allhomes.myapp.purchase.PurchaseVO">
		insert into purchase(pc_no, pd_no, s_no, userid, num, price, shipping_c, total_p, a_code, pc_date, payment, status, confirm, memo, o_no) values(pc_sq.nextval, pd_no=#{pd_no}, s_no=#{s_no}, userid=#{userid}, num=#{num}, price=#{price}, shipping_c=#{shipping_c}, total_p=#{total_p}, a_code=#{a_code}, pc_date=#{pc_date}, payment=#{payment}, status=#{status}, confirm=#{confirm}, memo=#{memo}, o_no=#{o_no})
	</insert>
	<update id="editPurchaseList" parameterType="com.allhomes.myapp.purchase.PurchaseVO">
	
	</update>
	<delete id="delPurchaseList" parameterType="com.allhomes.myapp.purchase.PurchaseVO">
	
	</delete>
<!-- 	<select id="joinPurchaseReview" resultType="com.allhomes.myapp.purchase.PurchaseVO">
		select p.pd_no, p.s_no, p.pd_name, p.price, p.discount, p.main_img, p.stock, p.status, p.sub_c, p.pd_img, p.pd_exp, p.shipping_c, r.userid, r.img, r.content, r.writedate, r.rating_price, r.rating_delivery, r.rating_design, r.rating_durability from product p, review r where p.pd_no=r.pd_no and p.s_no=r.s_no;
  	</select> -->
</mapper>