<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ==========질문게시판 MAPPER =========== -->  
<mapper namespace = "com.allhomes.myapp.qna.QnaDaoImp">
  
  
	<!-- 질문게시판 전체 리스트 -->
  	<select id="qnaAllList" resultType="com.allhomes.myapp.qna.QnaVO">
  	<![CDATA[
  		select a.q_no, a.title, regexp_replace(a.content, '<.*??>') content, a.thumbnail, a.userid, a.hit, a.answer, to_char(a.writedate, 'YYYY-MM-DD') writedate, b.m_pic
  		from qnaboard a
  		join register b
  		on a.userid=b.userid
  		order by q_no desc
  	]]>
  	</select>
  	
  	<!-- 질문게시판 답변개수 모든 리스트에서 구하기 -->
  	<select id="qnaAnwerList" resultType="com.allhomes.myapp.qna.QnaVO">
  		select a.q_no, nvl(count(b.q_c_no),0) answer from qnaboard a join qna_comment b on a.q_no = b.q_no(+) group by a.q_no order by q_no desc
  	</select>
  	
  	<select id="getAnswerNum" resultType="int" parameterType="int">
  		select count(b.q_c_no) answer from qnaboard a join qna_comment b on a.q_no = b.q_no(+) where a.q_no=#{param1} group by a.q_no
  	</select>
  
  	<!-- 질문게시판 글작성하기 -->
  	<insert id="qnaInsert" parameterType="com.allhomes.myapp.qna.QnaVO">
  		insert into qnaboard 
  		(q_no, title, content, userid, thumbnail, hit, answer, writedate)
  		values(qna_sq.nextval, #{title}, #{content}, #{userid}, #{thumbnail}, 0, 0, sysdate)
 	 </insert>
  
 	 <!-- 질문게시판 글번호 꺼내기 -->
  	<select id="getQnaNumber" resultType="int">
  		select nvl(max(q_no), 1) from qnaboard
  	</select>
  
	<!-- 질문게시판 글내용보기 -->
	<select id="qnaSelect" parameterType="int" resultType="com.allhomes.myapp.qna.QnaVO">
		select a.q_no, a.title, a.content, a.userid, a.hit, a.answer, to_char(a.writedate, 'YYYY-MM-DD') writedate,  
		b.m_pic
		from qnaboard a
		join register b
		on a.userid = b.userid
		where q_no=#{param1}
	</select>
	
	<!-- 질문게시판 조회수 증가 -->
	<update id="qnaHit" parameterType="int">
		update qnaboard set hit=hit+1 where q_no=#{param1}
	</update>
	
	<!-- 질문게시판 작성자 구하기 -->
	<select id="getQnaWriter" resultType="String">
		select userid from qnaboard where q_no=#{param1}
	</select>
	
	<!-- 질문게시판 수정완료-->
	<update id="qnaEdit" parameterType="com.allhomes.myapp.qna.QnaVO">
		update qnaboard set title=#{title}, content=#{content} where q_no=#{q_no}
	</update>
	
	<!-- 질문게시판 삭제 -->
  	<delete id="qnaDelete" parameterType="int">
  		delete qnaboard where q_no=#{q_no}
  	</delete>
  	
  	<!-- 질문게시판 답변개수구하기 -->
  	
  	
 
 </mapper>