<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.register.RegisterDaoImp">
 	<select id="login" resultType="com.allhomes.myapp.register.RegisterVO">
 		select userid, username from register where userid=#{userid} and userpwd=#{userpwd}
 	</select>
 	
 	<!-- 회원 전체 조회 -->
 	<select id="memberAllSelect" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register
 	</select>
 	<!-- 회원 전체 조회(정렬) -->
 	<select id="memberAllSelectOrder" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register order by #{val}
 	</select>
 	<!-- 회원번호로 조회 -->
 	<select id="memberSelect" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register where m_no=#{m_no}
 	</select>
 	
 	<!-- 오늘 가입한 회원 수 -->
 	<select id="countRegisterToday" resultType="int">
 		select count(*) from register where to_char(regdate, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
 	</select>
 	<!-- 이번달에 가입한 회원 수 -->
 	<select id="countRegisterMonth" resultType="int">
 		select count(*) from register where to_char(regdate, 'YYYY-MM') = to_char(sysdate, 'YYYY-MM')
 	</select>
 	<!-- 총회원수 -->
 	<select id="countRegisterTotal" resultType="int">
 		select count(*) from register
 	</select>
 	
 	
	<!-- 검색: 아이디로 검색 -->
	<select id="searchMemberUserid" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register
 		 where userid=#{userid}
 	</select>
	<!-- 검색: 이름으로 검색 -->
	<select id="searchMemberUsername" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register
 		 where username=#{username}
 	</select>
 	<!-- 검색: 이메일로 검색 -->
	<select id="searchMemberEmail" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register
 		 where email LIKE '%'||#{email}||'%' 

 	</select>
 	<!-- 검색: 연락처로 검색 -->
	<select id="searchMemberTel" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register
 		 where tel LIKE '%'||#{tel}||'%'
 	</select>
	

 	
 	<!-- 회원정보 입력 -->
 	<insert id="registerMember" parameterType="com.allhomes.myapp.register.RegisterVO">
 		insert into ah_register(m_no, userid,userpwd,username,nickname,tel,email,regdate,regcode)
 		values(a_sq.nextval,#{userid},#{userpwd},#{username},#{nickname},#{tel},#{email},sysdate,'')
 	</insert>
 	
 	<!-- 아이디 중복검사 -->
 	<select id="dupFilter" resultType="String">
 		select userid from ah_register where userid=#{userid}
 	</select>
 	
 	
 	
</mapper> 

