<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.register.RegisterDaoImp">
 	<select id="login" resultType="com.allhomes.myapp.register.RegisterVO">
 		select userid, username, nickname, regcode from register where userid=#{userid} and userpwd=#{userpwd}
 	</select>
 	<!-- 테이블 수정 !! -->
 	

 	
 	<!--  메인-회원 (10개) -->
 	<select id="memberSelectMain" resultType="com.allhomes.myapp.register.RegisterVO">
 		<![CDATA[
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode 
 		from register
 		where rownum <= 10
 		order by regdate desc
 		]]>
 	</select> 
 	
 	<!-- 회원 전체 조회(페이징) -->
 	<select id="memberAllSelect" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode 
 		from(
 			select ROWNUM RN, A.*
 							from(
 									select * 
 									from register
 									)A
 							)
		where RN between #{start} and #{end}	 		
 			
 	</select>
 	
 	<!-- 회원 전체 조회(정렬) -->
 	<select id="memberAllSelectOrder" parameterType="HashMap" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode
 		from(
 			select ROWNUM RN, A.*
 							from(
 									select * 
 									from register
 									<choose>
										<when test="order!=null and order.equals('userid')">
							   				order by userid
							   			</when>
							   			<when test="order!=null and order.equals('email')">
							   				order by email
							   			</when>
							   			<when test="order!=null and order.equals('username')">
							   				order by username
							   			</when>
							   			<when test="order!=null and order.equals('regdate')">
							   				order by regdate desc
							   			</when>
									</choose>
 									)A
 							)
		where RN between #{start} and #{end}
 		
 	</select>
 	
 	<!-- 회원 선택 검색 -->
 	<select id="memberSearch" parameterType="HashMap" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode
 		from(
 			select ROWNUM RN, A.*
 							from(
 									select * 
 									from register
 									<where>
								 		<choose>
								 			<when test="value == 'userid'">
								 				userid LIKE '%'||#{key}||'%'
								 			</when>
								 			<when test="value == 'username'">
								 				username LIKE '%'||#{key}||'%'
								 			</when>
								 			<when test="value == 'email'">
								 				 email LIKE '%'||#{key}||'%'
								 			</when>
								 			<when test="value == 'tel'">
								 				 tel LIKE '%'||#{key}||'%'
								 			</when>
								 		</choose>
							 		</where>
 									)A
 							)
		where RN between #{start} and #{end}
 	
 	</select>
 	
 	<!-- 회원번호로 조회 -->
 	<select id="memberSelect" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register where m_no=#{m_no}
 	</select>
 	
 	<!-- 오늘 가입한 회원 수 -->
 	<select id="countRegisterToday" resultType="int">
 		select count(*) from register where to_char(regdate, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
 	</select>
 	<!-- 이번달에 가입한 회원 수 -->
 	<select id="countRegisterMonth" resultType="int">
 		select count(*) from register where to_char(regdate, 'YYYY-MM') = to_char(sysdate, 'YYYY-MM')
 	</select>
 	<!-- 총회원수 -->
 	<select id="countRegisterTotal" resultType="int">
 		select count(*) from register
 	</select>
 	

 	
 	<!-- 회원정보 입력     테이블명 교체 시퀀스 교체 reg_sq-->	
 	<insert id="registerMember" parameterType="com.allhomes.myapp.register.RegisterVO">

 		insert into register(m_no, userid,userpwd,username,nickname,tel,m_pic,email,regdate,regcode)
 		values(reg_sq.nextval,#{userid},#{userpwd},#{username},#{nickname},#{tel},#{m_pic},#{email},sysdate,'')

 	</insert>
 	
 	<!-- 아이디 중복검사  테이블명 교체-->
 	<select id="dupFilter" resultType="String">
 		select userid from register where userid=#{userid}
 	</select>
 	
 	  	 
 	<!-- 프로필 사진 입력  테이블명 교체
 	<insert id="photoBtn" parameterType="String">
 		insert into ah_register(m_pic) values(#{m_pic})
 	</insert>
 	 	-->
 	
 	<!-- 이메일 인증코드 	테이블명 교체   원하는 레코드만 집어서 reg코드를 바꿀거 -->
 	<update id="regFinal" parameterType="com.allhomes.myapp.register.RegisterVO">
 		update register set regcode=1 where userid=#{userid}
 	</update> 
 	
 	
 	
 	
 	
 	
 	
 	
</mapper> 

