<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.register.RegisterDaoImp">
 	<select id="login" resultType="com.allhomes.myapp.register.RegisterVO">
 		select userid, username from ah_register where userid=#{userid} and userpwd=#{userpwd}
 	</select>
 	
 	<!-- 회원 전체 조회 -->
 	<select id="memberAllSelect" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register
 	</select>
 	<!-- 회원 전체 조회(정렬) -->
 	<select id="memberAllSelectOrder" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register order by #{val}
 	</select>
 	<!-- 회원번호로 조회 -->
 	<select id="memberSelect" resultType="com.allhomes.myapp.register.RegisterVO">
 		select m_no, userid, username,userpwd, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate, regcode from register where m_no=#{m_no}
 	</select>
 	
 	<!-- 오늘 가입한 회원 수 -->
 	<select id="countRegisterToday" resultType="int">
 		select count(*) from register where to_char(regdate, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
 	</select>
 	<!-- 이번달에 가입한 회원 수 -->
 	<select id="countRegisterMonth" resultType="int">
 		select count(*) from register where to_char(regdate, 'YYYY-MM') = to_char(sysdate, 'YYYY-MM')
 	</select>
 	<!-- 총회원수 -->
 	<select id="countRegisterTotal" resultType="int">
 		select count(*) from register
 	</select>
 	
</mapper>