<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allhomes.myapp.review.ReviewDaoImp">
<select id="productReviewList" parameterType="int" resultType="com.allhomes.myapp.review.ReviewVO">
	select userid, pd_no, rating_price, rating_delivery, rating_design, rating_durability, img, content, writedate, s_no from review order by writedate desc
</select>
<select id="countReview" parameterType="int" resultType="int">
	select count(pd_no) from review where pd_no=#{pd_no}
</select>
<insert id="insertReview" parameterType="com.allhomes.myapp.review.ReviewVO">
	insert into review(userid, pd_no, rating_price, rating_delivery, rating_design, rating_durability, img, content, writedate, s_no) values(userid=#{userid}, pd_no=#{pd_no}, rating_price=#{rating_price}, rating_delivery=#{rating_delivery}, rating_design=#{rating_design}, rating_durability=#{rating_durability}, img=#{img}, content=#{content}, writedate=#{writedate}, s_no=#{s_no})
</insert>
</mapper>