<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allhomes.myapp.review.ReviewDaoImp">
<select id="reviewList" resultType="com.allhomes.myapp.review.ReviewVO">
	select pd_no, avg(rating) as rating from review group by pd_no 
</select>
<select id="allReviewList" resultType="com.allhomes.myapp.review.ReviewVO">
	select userid, pd_no, rating, img, content, writedate, s_no from review order by writedate desc
</select>
<select id="selectOneReview" resultType="com.allhomes.myapp.review.ReviewVO">
	select userid, pd_no, rating, img, content, writedate, s_no from review where userid=#{userid} and pd_no=#{pd_no}
</select>
<insert id="insertReview" parameterType="com.allhomes.myapp.review.ReviewVO">
	insert into review(userid, pd_no, rating, img, content, writedate, s_no) values(userid=#{userid}, pd_no=#{pd_no}, rating=#{rating}, img=#{img}, content=#{content}, writedate=#{writedate}, s_no=#{s_no})
</insert>
<update id="reviewHitAdd" parameterType="com.allhomes.myapp.review.ReviewVO">
	update review set hit = hit+1 where r_no=#{r_no}
</update>
<update id="editReview" parameterType="com.allhomes.myapp.review.ReviewVO">
	update review set userid=#{userid}, pd_no=#{pd_no}, rating=#{rating}, img=#{img}, content=#{content}, writedate=#{writedate}, s_no=#{s_no} where userid=#{userid} and pd_no=#{pd_no}
</update>
<delete id="delReviwUserid" parameterType="String">
	delete from review where userid=#{userid}
</delete>
<delete id="delReviwPd_no" parameterType="int">
	delete from review where pd_no=#{pd_no}
</delete>



<!-- 스토어디테일 페이지 -->
<select id="selectReview" resultType="com.allhomes.myapp.review.ReviewVO">
	select * from review where pd_no=#{pd_no} order by writedate desc
</select>
<select id="reviewSetting" parameterType="com.allhomes.myapp.review.ReviewJoinVO" resultType="com.allhomes.myapp.review.ReviewJoinVO">
	select * from (select c.pc_date, c.s_no, c.pd_no, c.o_value, c.num, r.userid, r.rating, r.img, r.content from review r join purchase c on r.pd_no=c.pd_no) where pd_no=#{pd_no} and userid=#{userid}
</select>
<select id="avgReview" parameterType="int" resultType="com.allhomes.myapp.review.ReviewVO">
	select * from (select pd_no, avg(rating) as rating from review group by pd_no) where pd_no=#{pd_no}
</select>
<select id="countReview" parameterType="int" resultType="int">
	select count(pd_no) from review where pd_no=#{pd_no}
</select>
</mapper>