<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.search.SearchDaoImp">
	<!-- 회원 관련 결과 -->
	<select id="searchMember" resultType="com.allhomes.myapp.register.RegisterVO">
		select m_no, userid, username, nickname, m_pic, tel, email, to_char(regdate, 'YYYY-MM-DD') regdate from register
		 where userid LIKE '%'||#{param1}||'%' or username LIKE '%'||#{param1}||'%' or
		 nickname LIKE '%'||#{param1}||'%' or tel LIKE '%'||#{param1}||'%' or email LIKE '%'||#{param1}||'%'
	</select>
	
	<!-- homeboard 결과 -->
	<select id="searchHB" resultType="com.allhomes.myapp.homeboard.HomeboardVO">
		select b_no, title, theme, userid, thumbnail, hit, scrap, to_char(writedate, 'YYYY-MM-DD') writedate from homeboard
		where userid LIKE '%'||#{param1}||'%' or title LIKE '%'||#{param1}||'%' or theme LIKE '%'||#{param1}||'%' or content LIKE '%'||#{key}||'%'
	</select>
	<!-- homeboard 결과 개수 -->
	<select id="searchHBCount" resultType="int">
		select count(*) from homeboard
		where userid LIKE '%'||#{param1}||'%' or title LIKE '%'||#{param1}||'%' or theme LIKE '%'||#{param1}||'%' or content LIKE '%'||#{key}||'%'
	</select>
	
	<!-- product 결과 -->
	<select id="searchProduct" resultType="com.allhomes.myapp.product.ProductVO">
		select pd_no, s_no, pd_name, price, discount, main_img, stock, status, sub_c, pd_img, pd_exp, shipping_c from product
		where pd_name LIKE '%'||#{param1}||'%' or status LIKE '%'||#{param1}||'%' or
		sub_c LIKE '%'||#{param1}||'%' or pd_exp LIKE '%'||#{param1}||'%'
	</select>
	<!-- product 결과 개수-->
	<select id="searchProductCount" resultType="int">
		select count(*) from product
		where pd_name LIKE '%'||#{param1}||'%' or status LIKE '%'||#{param1}||'%' or
		sub_c LIKE '%'||#{param1}||'%' or pd_exp LIKE '%'||#{param1}||'%'
	</select>
	
</mapper>