<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allhomes.myapp.store.StoreDaoImp">
 	
 	<!-- 상품전체리스트 최근 등록된 순으로정렬  -->
 	<select id="storeAllList" resultType="com.allhomes.myapp.store.StoreProductCategoryVO">
 		select a.pd_no, a.s_no, b.s_name, a.pd_name, a.discount, a.price-(a.price*a.discount/100) price, a.main_img, a.status, a.sub_c, c.main_c
		from product a, store b, sub_c c
		where a.s_no = b.s_no
		and a.sub_c = c.sub_c
		order by pd_no desc
 	</select>
 	
 	<!-- 상품리스트 파라미터별로 정렬 -->
 	<select id="storeOrderList" parameterType="String" resultType="com.allhomes.myapp.store.StoreProductCategoryVO">
 		select a.pd_no, a.s_no, b.s_name, a.pd_name, a.price-(a.price*a.discount/100) price, a.discount, a.sale, a.main_img, a.status, a.sub_c, c.main_c, a.wishlist 
		from product a, store b, sub_c c
		where a.s_no = b.s_no
		and a.sub_c = c.sub_c
		<choose>
			<when test="order!=null and order.equals('recent')">
				order by pd_no desc
			</when>
			<when test="order!=null and order.equals('sale')">
				order by sale desc
			</when>
			<when test="order!=null and order.equals('price')">
				order by price
			</when>
			<when test="order!=null and order.equals('recentBest')">
				order by pd_no desc, wishlist desc 
			</when>
			<when test="order!=null and order.equals('best')">
				order by wishlist desc
			</when>
		</choose>
 	</select>
 	
 	<!-- 상품리스트 카테고리별로 정렬 -->
 	<select id="storeCategoryList" parameterType="String" resultType="com.allhomes.myapp.store.StoreProductCategoryVO">
 		select a.pd_no, a.s_no, b.s_name, a.pd_name, a.price-(a.price*a.discount/100) price, 
		a.discount, a.sale, a.main_img, a.status, a.sub_c, c.main_c, a.wishlist 
		from product a join store b
		on a.s_no = b.s_no
		join sub_c c
		on a.sub_c = c.sub_c
		where c.main_c=#{param1};
 	</select>
 

 	
 	
 	
 	<insert id="storeAdd" parameterType="com.allhomes.myapp.store.StoreVO">
 		insert into store(s_no,s_num,s_name,s_pic,openingdate,s_id,staff_n,staff_t,staff_e,s_homepage,status)
 		 values(store_sq.nextval, #{s_num},#{s_name},#{s_pic},sysdate,#{s_id},#{staff_n},#{staff_t},#{staff_e},#{s_homepage},'Y')
 	</insert>
 	<select id="storeAll" resultType="com.allhomes.myapp.store.StoreVO">
 		select s_no, s_num, s_name, s_pic, to_char(openingdate, 'YYYY-MM-DD') openingdate, s_id, staff_n, staff_t, staff_e, s_homepage from store
 	</select>
 	<select id="storeSelect" parameterType="int" resultType="com.allhomes.myapp.store.StoreVO">
 		select s_no, s_num, s_name, s_pic, to_char(openingdate, 'YYYY-MM-DD') openingdate, s_id, staff_n, staff_t, staff_e, s_homepage from store where s_no=#{s_no}
 	</select>
 	<select id="selectStoreJoin" resultType="com.allhomes.myapp.store.StoreVO">
 		select s.s_no, s.s_name from store s, product p where s.s_no=p.s_no
 	</select>
 	<delete id="storeDel">
 		delete from store where s_no=#{s_no}
 	</delete>
 	<update id="storeEdit" parameterType="com.allhomes.myapp.store.StoreVO">
 		update store set s_num=#{s_num}, s_name=#{s_name}, s_id=#{s_id}, staff_n=#{staff_n}, staff_e=#{staff_e}, staff_t=#{staff_t}, s_homepage=#{s_homepage} where s_no=#{s_no} 
 	</update>
 	
 	
</mapper>