<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allhomes.myapp.store.StoreDaoImp">
 	<insert id="storeAdd" parameterType="com.allhomes.myapp.store.StoreVO">
 		insert into store(s_no,s_num,s_name,s_pic,openingdate,s_id,staff_n,staff_t,staff_e,s_homepage,status)
 		 values(store_sq.nextval, #{s_num},#{s_name},#{s_pic},sysdate,#{s_id},#{staff_n},#{staff_t},#{staff_e},#{s_homepage},'Y')
 	</insert>
 	<select id="storeAll" resultType="com.allhomes.myapp.store.StoreVO">
 		select s_no,s_num,s_name,s_pic,to_char(openingdate, 'YYYY-MM-DD') openingdate,s_id,staff_n,staff_t,staff_e,s_homepage from store
 	</select>
 	<select id="storeSelect" resultType="com.allhomes.myapp.store.StoreVO">
 		select s_no,s_num,s_name,s_pic,to_char(openingdate, 'YYYY-MM-DD') openingdate,s_id,staff_n,staff_t,staff_e,s_homepage from store
 		 where s_no=#{s_no}
 	</select>
 	<delete id="storeDel">
 		delete from store where s_no=#{s_no}
 	</delete>
</mapper>