h4{
	font-size:18px;
}


/* Make the image fully responsive */
.container {
	max-width: 1400px;
	padding:0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

/* Style The Dropdown Button */
.dropbtn{
	background-color:transparent;
	color: gray;
	padding: 15px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.nav-item{
	margin: 0px;
	
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: white;
}

.writeBtn{
	background-color: #E98374;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 85px;
	
}

/*검색창 돋보기*/
.input-group-text{
	background-color: #E98374
}

.input-group{
	margin: 0 80px 0 40px;
	
}

.navbar{
	min-height:90px;
	
}

